* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Raleway", sans-serif;
  padding: 60px;

  background-image: url("../assets/background.png"); /* Caminho da imagem */
  background-size: cover; /* Cobre toda a área, mantendo proporção */
  background-position: center; /* Centraliza a imagem */
  background-repeat: no-repeat; /* Evita repetição da imagem */
  background-attachment: fixed; /* Opcional: fixa a imagem ao rolar (ajuste conforme necessário) */
}

.content {
  width: 80%;
  display: grid;
  grid-column: 1;
  align-items: center;
  justify-content: center;
}

.main_content {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 10px;
  align-items: center;
  margin-bottom: 40px;
}

a {
  text-decoration: none;
  color: black;
}

.link_image {
  width: 100%;
  height: 100%;
}

.link_image .image_product {
  width: 100%;
  height: 100%;
}

.subcontent_text {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.subcontent_text h1 {
  font-size: 30px;
  font-weight: bold;
}

.subcontent_text p {
  font-size: 20px;
  margin: 20px 0px;
  text-align: justify;
}

button {
  font-size: 25px;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #0fd65b;
  color: white;
  cursor: pointer;
  border: none;
  width: 100%;
  text-transform: uppercase;
}

button:hover {
  background-color: #1fad5f;
}

a:hover {
  cursor: pointer;
}

@media (max-width: 768px) {
  body { 
    height: 100%;
  }
  
  .main_content {
    display: grid;
    grid-template-columns: 100%;
    gap: 10px;
    align-items: center;
    margin-bottom: 40px;
  }

  .subcontent_text {
    order: 1; /* Coloca o texto em primeiro (cima) */
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .link_image {
    order: 2; /* Coloca a imagem em segundo (baixo) */
  }

  h1 {
    font-size: 2rem;
  }

  p {
    font-size: 1rem;
  }
}